<!DOCTYPE html>
<html lang="en">

<head>
       <!-- Metadata -->
       <meta charset="UTF-8">
       <meta http-equiv="X-UA-Compatible" content="IE=edge">
       <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
       <meta name="description" content="Twelve Acre Farm, Lambertville NJ">
       <meta name="keywords"
              content="certified therapeutic riding, equine assisted therapy, equine assisted activities, EAA, horse therapy, healing, animals, new jersey, nj, dawn wessler, story time, hopewell, lambertville">
       <meta name="author" content="Andy Dominik">
       <!-- Icons -->
       <link rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon">
       <link rel="icon" href="/images/favicon.ico" type="image/x-icon">
       <!-- Fonts -->
       <link rel="stylesheet"
              href="https://fonts.googleapis.com/css?family=Lato:400,400i,700,700i,900,900i&display=swap">
       <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Shadows+Into+Light+Two&display=swap">
       <link rel="stylesheet"
              href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&display=swap">
       <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

       <!-- CSS -->
       <link rel="stylesheet" href="/stylesheets/main.css?v5">
       <link rel="stylesheet" href="/stylesheets/view-master.css">
       <!-- Analytics -->
       <!-- Global site tag (gtag.js) - Google Analytics -->
          <script async src="https://www.googletagmanager.com/gtag/js?id=UA-124255710-1"></script>
          <script>
          window.dataLayer = window.dataLayer || [];
          function gtag(){dataLayer.push(arguments);}
          gtag('js', new Date());

          gtag('config', 'UA-124255710-1');
          </script>
       <title>Twelve Acre Farm</title>
</head>
<body>
       <nav>
              <button class="btn-menu">
                     <span class="material-icons">menu</span><span class="logo-font">Twelve Acre Farm</span>
              </button>
              <ul>
                     <li><a class="active-nav-item" href="#home"><img src="/images/icon-nav-home.svg"></a></li>
                     <li><a href="#programs">Programs</a></li>
                     <li><a href="#volunteers">Volunteer</a></li>
                     <li><a href="#photogallery">Photo gallery</a></li>
                     <li><a href="#contactus">Contact us</a></li>
                     <li>
                            <a id="diff" href="https://www.paypal.com/paypalme/twelveacrefarm" target="_blank">
                                   <button class="btn btn-secondary">Pay or donate<span
                                                 class="material-icons">trending_flat</span></button>
                            </a>
                     </li>
              </ul> 
       </nav>
       <main>
          <!--<div class="alert alert-info"><a href="#programs" style="text-decoration: none;">2024 fall program dates are now posted!</a></div>-->
          <!--<div class="alert alert-info"><a href="#programs" style="text-decoration: none;">4/13/2024 - Today's 'Visit the farm' is cancelled.</a></div>-->

          <section id="home">
                     <div class="jumbotron">
                            <img class="logo" src="/images/logo-twelve-acre-farm.svg">
                            <div class="welcome-message">
                                   <p class="display-1">
                                          Hi, Welcome to the farm!
                                   </p>
                                   <p class="body-2">
                                          “At Twelve Acre Farm, our mission is to provide a warm, inviting space where
                                          individuals can benefit from the impact of animal and human bonding.”
                                   </p>
                                   <p class="display-2">
                                          - Dawn Wessler
                                   </p>
                                   <img src="/images/logo-path.svg">
                            </div>
                     </div>
              </section>
              <section>
                     <div id="programs" class="program-container">
                            <div class="program-info-container">
                                   <h1>2025 Spring & Summer Programs</h1>
                                   <p class="body-1">Registration/liability forms are required for all activities.</p>
                                   <p class="body-1">Visits are by appointment only.</p>
                            </div>
                            <div class="program-list-container">
                                   <!--<div class="program-details-container">
                                          <h2>After school program</h2>
                                          <p class="body-1">April 9 - June 11</p>
                                          <p class="caption">Tuesdays (4pm - 6pm)</p>
                                          <ul class="body-1">
                                                 <li>Ages 5 - 13.</li>
                                                 <li>Cost: $300</li>
                                                 <li>Registration and full payment due March 15</li>
                                          </ul>
                                          <a class="body-1" href="/docs/after_school_program_registration_form.pdf" target="_blank">After School Program Registration Form (PDF)</a>
                                   </div>-->
                                   <div class="program-details-container">
                                          <!--<img src="/images/icon-program-story-time.svg">-->
                                        <h2>Story time <!--<span class="caption">- Registration required</span>--></h2>
                                        <p class="body-1">April 9 - June 11</p>
                                        <p class="caption">Wednesdays (10am - 11am)</p>
                                        <p class="body-1">Donations of any amount appreciated.</p>
                                        <p class="body-1">To register, please fill out a <a class="body-1" href="/docs/story_time_registration_form.pdf" target="_blank">registration form (PDF)</a> and email to <a href="mailto:dawn@twelveacrefarm.com">dawn@twelveacrefarm.com</a>.</p>
                                        <!--<p class="body-1">Register for the event by getting a ticket.</p>
                                                  <ul class="body-1">
                                                            <li>Tickets are for children only. Care-takers don't need one.</li>
                                                            <li>One ticket per child.</li>
                                                            <li>Donations of any amount appreciated.</li>
                                                  </ul>
                                        </p>
                                        <p><a class="body-1" href="/docs/story_time_registration_form.pdf" target="_blank">Story Time Registration Form (PDF)</a></p>
                                        <p><button onclick="window.location.href='https://www.eventbrite.com/e/story-time-at-twelve-acre-farm-tickets-836658908317?aff=oddtdtcreator';" class="btn btn-primary">Register</button></p>-->
                                   </div>
                                   <div class="program-details-container">
                                          <h2>Riding Program</h2>
                                          <p class="body-1">April 7 - June 13</p>
                                          <p class="caption">Weekdays 3pm - 7pm | Weekends 9am - 1pm.</p>
                                          <p class="body-1">Weekly lessons are by appointment only and subject to the availability of appropriate horse for rider. Slots fill up fast!</p>
                                          <ul class="body-1">
                                                 <li>Ages 4+</li>
                                                 <li>Cost: $60/hour (includes 20 minute groundwork)</li>
                                          </ul>
                                   </div>
                                   <div class="program-details-container">
                                          <h2>Summer camp 2025</h2>
                                          <p class="body-1">
                                                  
                                                            Week 1: July 14 - 18<br />
                                                            Week 2: July 21 - 25<br />
                                                            Week 3: August 4 - 8<br />
                                                            Week 4: August 11 - 15
                                                  
                                          </p>
                                          <p class="body-1">Monday - Friday</p>
                                          <p class="caption">9am - 1pm</p>
                                          <ul class="body-1">
                                                 <li>Ages 5-13</li>
                                                 <li>Cost: $300/week. Registration and $100 deposit due March 1. Full payment due April 1.</li>
                                          </ul>
                                          <a class="body-1" href="/docs/camp_registration_form.pdf" target="_blank">Summer Camp Registration Form (PDF)</a>

                                   </div>
                                   <div class="program-details-container">
                                          <!--<img src="/images/icon-program-private-group-time.svg">-->
                                          <h2>Field trips</h2>
                                          <p class="caption">By appointment only</p>
                                          <p class="body-1">Spend an hour or two at the farm with your own group.</p>
                                          <ul class="body-1">
                                                 <li>Customize your experience according to age and group goals (badge
                                                        earning, recreation, curriculum requirements, sensitivity to
                                                        special needs, etc.)</li>
                                                 <li>Adult supervision is required at all times </li>
                                                 <li>Cost: $100/hour</li>
                                          </ul>
                                   </div>
                            </div>
                     </div>
              </section>
              <section>
                     <div id="volunteers" class="volunteer-container">
                            <div class="section-illustration">
                                   <img src="/images/illustration-volunteer.svg">
                            </div>
                            <div class="volunteer-details-container">
                                   <div class="volunteer-intro">
                                          <h1>Calling all volunteers!</h1>
                                          <p class="body-1">The farm is always on the look out for volunteers. Please
                                                 contact us if you are interested in horse handling and/or farm chores.
                                          </p>
                                          <p class="body-1">To sign up, please email Dawn at <a href="mailto:dawn@twelveacrefarm.com" class="body-1 mt-0" style="text-decoration: underline;">dawn@twelveacrefarm.com</a></p>
                                   </div>
                                   <h2>Farm chores</h2>
                                   <p class="body-1">Help with chores around the farm and gain the benefits from caring
                                          for the animals.</p>
                                   <ul class="body-1">
                                          <li>You will be trained on various chores such as manure mucking and clean
                                                 water maintenance</li>
                                          <li>You may also share any skills you may have such as building/fixing
                                                 structures, weeding, etc.</li>
                                          <li>Come on your own or with friends</li>
                                          <li>Adult supervision required at all times</li>
                                   </ul>
                            </div>
                     </div>
              </section>
              <section>
                     <div id="photogallery" class="gallery">
                            <h1>Photo gallery</h1>
                            <ul>
                                   <li><a href="javascript:void(0)"><img src="/images/horse.jpg"
                                                        alt="Photo of a horse"></a></li>
                                   <li><a href="javascript:void(0)"><img src="/images/horse2.jpg"
                                                        alt="Photo of a horse"></a></li>
                                   <li><a href="javascript:void(0)"><img src="/images/goat.jpg"
                                                        alt="Photo of a Goat"></a></li>
                                   <li><a href="javascript:void(0)"><img src="/images/flower.jpg"
                                                        alt="Photo of a Flower"></a></li>
                                   <li><a href="javascript:void(0)"><img src="/images/chick.jpg"
                                                        alt="Photo of a Chick"></a></li>
                            </ul>
                     </div>
                     <div class="view-master-modal">
                            <div class="view-master">
                                   <div class="view-master-close">
                                          <a href="javascript:void(0)" class="view-master-close-btn">
                                                 <img class="close-image" src="/images/close-image-overlay.svg"
                                                        alt="Close button">
                                          </a>
                                          <span class="pagination"></span>
                                   </div>
                                   <a href="javascript:void(0)" class="previous-image-btn">
                                          <img src="/images/prev-arrow.svg" alt="Previous button">
                                   </a>
                                   <a href="javascript:void(0)" class="next-image-btn">
                                          <img src="/images/next-arrow.svg" alt="Next button">
                                   </a>
                            </div>
                     </div>
              </section>
              <section>
                     <div id="contactus" class="contact-container">
                            <div class="contact-details-container">
                                   <h1>Contact us</h1>
                                   <div class="email">
                                          <div>
                                                 <a href="mailto:dawn@twelveacrefarm.com" class="body-1 mt-0">dawn@twelveacrefarm.com</a>
                                          </div>
                                   </div>
                                   <div class="directions">
                                          <div>
                                                 <p class="body-1 mt-0">1585 Harbourton Rocktown Rd<br>
                                                        Lambertville, New Jersey<br>
                                                        08530</p>
                                          </div>
                                   </div>
                            </div>
                            <div class="contact-image-container">
                                   <img src="/images/illustration-contact-us.svg">
                            </div>
                     </div>
              </section>
       </main>
       <footer>
              <img src="/images/logo-twelve-acre-farm.svg">
              <a href="https://www.facebook.com/Twelve-Acre-Farm-135303483744969/" target="_blank">
                     <img src="/images/icon-facebook.svg">
              </a>
              <p class="body-2">©2023 Twelve Acre Farm Lambertville, NJ. All rights reserved</p>
       </footer>
</body>
<script src="/js/view-master.js"></script>
<script src="/js/functions.js"></script>

</html>